@model Models.Phone

<table>
    <tr>
        <td>Name:</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Company:</td>
        <td>@Model.CompanyName</td>
    </tr>
    <tr>
        <td>RAM:</td>
        <td>@Model.RAM</td>
    </tr>
    <tr>
        <td>Memory</td>
        <td>@Model.Memory</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>@Model.Price</td>
    </tr>
</table>