@model PhoneViewModel
@{
    Layout = "_LayoutForAdmin";
}
<h1 text-align:center>Phones</h1>

<table border="1">
    <tr>
        <th>Phone</th>
        <th>Company</th>
        <th>RAM</th>
        <th>Memory</th>
        <th>Price</th>
    </tr>
    @foreach (var phone in Model.phones)
    {
        <tr>

            <td>@phone.Name</td>
            <td>@phone.CompanyName</td>
            <td>@phone.RAM</td>
            <td>@phone.Memory</td>
            <td>@phone.Price</td>
            <td><a href="~/phone/details/@phone.Id">Details</a></td>
            <td><a href="~/admin/edit/@phone.Id">Edit</a></td>
            <td><a href="~/admin/delete/@phone.Id">Delete</a></td>
        </tr>
    }

</table>
